.div{
	margin:15px;
  height: 100vh;
}
 
#marginbetweennavigationbarandjumbotron{
	margin-top:60px;
  background-color:white;
  color:black;
  border-radius:6px;
  padding:20px;
  margin-bottom:20px;
}
.text-center{
    text-align: center;
}
ul{list-style-type:none;}

.container {
  margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px; // Adjust as needed
    height: 100vh;
  }
  
  .text-primary {
    color: #ff00c3; // Blue color, change as needed
  }
  
  .text-center {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px; // Adjust as needed
  }
  
  .btn-primary {
    background-color: #ef9a10; // Blue color, change as needed
    color: #fff; // White text color, change as needed
  }
  
  .btn-primary:hover {
    background-color: #0056b3; // Darker blue color on hover, change as needed
  }
  
  .btn-lg {
    padding: 10px 20px; // Adjust as needed
    font-size: 18px; // Adjust as needed
  }
  
  ul {
    list-style: none; // Remove default list styles
    padding-left: 0; // Remove default padding
  }
  
  li {
    margin-bottom: 10px; // Adjust as needed
  }
  
  hr {
    border-color: #007bff; // Blue color, change as needed
  }
  
  /* Add more styles as needed */
  
